<ul>
  <% @decks.each do |deck| %>
    <li>
    <% Deck.order('created_at DESC') %>
      <form action="/decks/<%= deck.id %>" method="post">
        <input type="hidden" name="deck_id" value="<%= deck.id %>">
        <input class="deck-select" type="submit" value="<%= deck.name %>">
      </form></li>
  <% end %>
</ul>