<h1><%=@deck.name%> Cards</h1>

<div class ="stats">
  <ul>
    <% @deck.cards.each do |card| %>
    <li><%=card.question%></li>
    <li><%=card.answer%></li>
    <br>
    <% end %>
  </ul>
</div>

<form class="play" action = "/decks/<%=@deck.id%>/rounds" method="post">
  <input type="submit" value="Play this deck!">
</form>